<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EAT-DA-BURGER!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/burgersclick.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>