<h1>Eat-da-Burger!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>ID: {{this.id}}</p>
        <p>Burger: {{this.burger}}</p>
    </li>
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<form action="/index" method="POST">
    <textarea type="text" name="burger"></textarea>

    <button type="submit">Submit</button>
</form>

<h3>Enter a burger you want to eat and click the submit button</h3>